
@import url(http://fonts.googleapis.com/css?family=Roboto);
body,
input,
select,
textarea,
body * {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 5px 0 5px 0;
  padding: 6px;
  border-radius: 4px;
}
input{
	    border: 1px solid rgba(51, 204, 30, 0.67);
}
div{
	margin: 20px;
}
label{
line-height: 3;
}
body {
	background-color: rgba(204, 204, 204, 0.11);
  /*background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);*/
  /*background-image: linear-gradient(top, #f2f2f2, #e6e6e6);*/
}
.input{
	padding: 5px !important;
}
.inline{
	text-align: center;
}
.details {
	align-content: center;
}
.inline div{
	text-align: left;
	display:inline-block;
	border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0.26);
}
.uniresult{
	width: 200px;
}
.middle{
text-align: center;
}
.divp{
	padding-bottom: 10px;
	padding-top: 10px;
}
table,td{
	margin: 0 auto;
	border: 1px solid;
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.26);
}