
@import url(http://fonts.googleapis.com/css?family=Roboto);
body{
  font-family: Trebuchet MS, Helvetica, sans-serif;
  box-sizing: border-box;
  margin:  0;
  padding: 0px;
  border-radius: 4px;
  background-color: #eee !important;
}



table,td{
	margin: 0 auto;
	border: 1px solid;
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.26);
}
textarea{
  height: auto;

}

.row{
  margin-bottom: auto;
}
.thankyoumessage{
  padding: 20px;
  text-align: center;
  position: relative;
  left: 5%;
}

label{
  font-size: 15px;
}

.sendform{
      width: 300px;
    text-align: center;
    padding-top: 20px;
}
.form{
	width: 500px;

}
.row .col.m5{
  width: 50%;
  margin: 0 auto;

}

td{
  height: 65px;
  text-align: center;
}
th{
  text-align: center;
}
p {
    margin: 0px 10px 20px;
}
.card{
	width: 350px;
	padding: 30px;
	align-items: center;
  margin-top: 50px;

  margin-bottom: 50px;
}
.btn{
	align-self: center !important;
}
.input-field label{
	font-size: 1.5rem !important;
}
